
/*
 .background{ color: #F2DC99; }
 .principal{ color: #594C3C; }
 .fonte{ color: #BF7C41; }
 .elementos_visuais1{ color: #8C4F2B; }
  .elementos_visuais2{ color: #260B01; }*/
  html {
        background-color: #F2DC99;

        color:#594C3C}


 